<div class="container mt-4">
  <h1 class="text-center mb-4">Candidatos a Papa - 2025</h1>
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let candidato of candidatos">
      <div class="card h-100">
        <img [src]="candidato.foto" class="card-img-top" [alt]="candidato.nombre">
        <div class="card-body">
          <h5 class="card-title">{{ candidato.nombre }}</h5>
          <p class="card-text">
            <strong>País:</strong> {{ candidato.pais_origen }}<br>
            <strong>Edad:</strong> {{ candidato.edad }} años
          </p>
          <button class="btn btn-primary w-100" (click)="seleccionarCandidato(candidato)">
            Ver Detalle
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


